<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inactal-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>A Quoi on Joue ?</title>
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="design.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="?">A quoi on Joue ?</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         <a class="nav-link" href="?action=liste">Liste</a>
         
         {% if (connecte == "oui") %}


            <a class="nav-link" href="?action=ajout">Ajouter</a>
            <a class="nav-link" href="?action=modif">Modifier</a>
            <a class="nav-link" href="?action=suppr">Supprimer</a>
            <a class="nav-link" href="?action=recher">Rechercher</a>
            <a class="nav-link" href="?action=logout">Deconnexion</a>
         

            {% if (admin == "oui") %}
              <a class="nav-link" href="?action=admin">Administrer</a>
            {% endif %}

            <a class="nav-link" href="?action=moi">{{nomutili}}</a>

          {% else %}

            <a class="nav-link" href="?action=login">Connexion</a>
            <a class="nav-link" href="?action=register">Inscription</a>

          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
   {% block content %}
   {% endblock %}
   {% block form %}
   {% endblock %}
</body>
</html>